body{
  margin:0;
  padding:0;
} 

button{
  margin:20px;
  padding:10px;
  font-size:1em;
}


/*********Main Cube CSS***********/
.scene, .scene2{/*Sets the "playground" for the cube*/
  margin:auto; /*Centered in Div*/
  margin-top: 40px; /*Space from Radio Buttons*/
  width:150px;
  perspective:1500px;
}

.cube, .cube2{
  margin-top:80px;
  margin:auto;
  width:150px;
  height:150px;
  position:relative;
  transform-style: preserve-3d;
}

.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity:.8;
}

.front-face{
  background:red;
  transform:translate3d(0,0,75px);
}

.back-face{
  background:yellow;
  transform:rotateY(180deg) translate3d(0,0,75px);
}

.left-face{
  background: orange;
  transform: rotateY(-90deg) translate3d(0, 0, 75px);
}

.right-face{
  background:lime;
  transform: rotateY(90deg) translate3d(0, 0, 75px);
}

.top-face {
  background:blue;
  transform: rotateX(90deg) translate3d(0, 0, 75px);
}

.bottom-face {
  background:magenta;
  transform: rotateX(-90deg) translate3d(0, 0, 75px);
}


/**** Radio Button Interactions ****/
#radio-front:checked ~ .scene .cube {
  transition:2s;
}

#radio-back:checked ~ .scene .cube {
  transform: rotateY(180deg);
  transition:2s;
}

#radio-left:checked ~ .scene .cube {
  transform: rotateY(90deg);
  transition:2s;
}
#radio-right:checked ~ .scene .cube {
  transform: rotateY(-90deg);
  transition:2s;
}
#radio-top:checked ~ .scene .cube {
  transform: rotateX(-90deg);
  transition:2s;
}
#radio-bottom:checked ~ .scene .cube {
  transform: rotateX(90deg);
  transition:2s;
}

#box1{
  margin:auto;
  text-align:center;
}








/*Test 2 Keyframe Animation */
#box2 {
  margin:auto;
  margin-top:25vh;
  text-align:center;
}

.front-face2{
  background:red;
  transform:translate3d(0,0,75px);
}

.back-face2{
  background:yellow;
  transform:rotateY(180deg) translate3d(0,0,75px);
}

.left-face2{
  background: orange;
  transform: rotateY(-90deg) translate3d(0, 0, 75px);
}

.right-face2{
  background: lime;
  transform: rotateY(90deg) translate3d(0, 0, 75px);
}

.top-face2 {
  background:blue;
  transform: rotateX(90deg) translate3d(0, 0, 75px);
}

.bottom-face2 {
  background:magenta;
  transform: rotateX(-90deg) translate3d(0, 0, 75px);
}



.cube2{
  width:90px;
  height:90px;
  opacity:1;
}




/*.scene2 .cube2{
  transform-style:preserve-3d;
  animation-name: box2Roll;
  animation-duration:10s;
}*/


@keyframes box2Roll
{
from {}
20% {transform: translateX(200px) rotateY(180deg);}
40% {transform: translateX(-200px) rotateY(90deg);}
60% {transform: rotateY(-90deg);}
80% {transform: translateY(200px) rotateX(-90deg);}
90% {transform: translateY(-200px) rotateX(90deg);}
to{transform: rotateX(0deg) rotateY(0deg);}
}

/*.scene2 .cube2{
  transform-style:preserve-3d;
  animation-name: rotateBox2;
  animation-duration:10s;
  animation-iteration-count: infinite;
}


@keyframes rotateBox2{
  from {opacity:1;}
  24%{}
  25% {transform: rotateY(180deg) translateX(200px);}
  30% {transform: rotateY(90deg) translateX(200px);}
  45% {transform: rotateY(-90deg) translateX(200px);}
  60% {transform: rotateX(-90deg) translateX(200px);}
  75% {transform: rotateX(90deg) translateX(200px;}
  80% {transform: translateX(200px);}
  to{transform:  rotateX(0deg) rotateY(0deg) translate3d(0px,0px,0px);}
}*/
